<h1> Art up your life!</h1>

<p>This app is designed to allow you to browse the Rijksmuseum Amsterdam's collection and tag those pieces of art you would like to create something with.</p>
<p>So you can look for all art objects with a subject of "winter" and then scroll through the results.</p>
