<h1>Favourites page</h1>

<div class="results">
  <ul style="list-style: none;">
  <% @favourites_for_current_user.each do |art_result| %>
      <li class="short_description">
        <a href="/detail?objectnumber=<%=art_result[:objectnumber]%>">
        <img class="thumbnail" src="<%=art_result[:webimage]%>">
          <%=art_result[:object_id] %>
        </a>
      </li>
  <% end %>
  </ul>
</div>
