<h1>Art up your life!</h1>

<p>Search the Rijksmuseum Amsterdam's collection.</p>

<form action="/query_input"> <!-- action = url -->
  <input type="text" name="principalMaker" placeholder="artist">
  <input type="text" name="subject" placeholder="keyword">
  <input type="text" name="color" placeholder="color">
  <button>SEARCH</button>
</form>
