<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RijksArt</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
      <a href="/">Search</a>
      <a href="/about">About</a>
      <a href="/stubby">Stubby holder</a>
      <a href="/shirt">T-shirt</a>
      <a href="/print">Art Print</a>
  </nav>

  <%= yield %>

</body>
</html>
