<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RijksArt</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
      <a href="/">Search</a>
      <a href="/about">About</a>
      <a href="/stubby">Stubby holder</a>
      <a href="/shirt">T-shirt</a>
      <a href="/print">Art Print</a>

  </nav>


  <% if !logged_in? %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="loginbutton">Log in</button>
    </form>
  <% end %>



  <%= yield %>

</body>
</html>
