<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RijksArt</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
      <a href="/">Search</a>
      <a href="/about">About</a>
      <a href="/landing">Landing</a>
      <a href="/lounge">Lounge</a>
      <a href="/bedroom">Bedroom</a>
  </nav>

  <%= yield %>

</body>
</html>
