<h1>This is the results page</h1>


<div class="results">
  <ul style="list-style: none;">
  <% @art_results.each do |art_result| %>
      <li class="short_description">
        <a href="https://www.rijksmuseum.nl/api/nl/collection/<%=art_result[:objectNumber] %>?key=YB4GHC25&format=json">
        <img class="thumbnail" src="http://lh5.ggpht.com/SgH3Qo-vYI8GGm7-b-Qt6lXgsCAIoU2VDRwO5LYSBVNhhbZCetcvc88ZPi518MTy0MHDrna4X4ZC1ymxVJVpzps8gqw=s0">
          <%= art_result[:name] %> - <%= art_result[:objectNumber] %> -
          <%= art_result[:principalMaker] %>
        </a>
      </li>
  <% end %>
  </ul>
</div>
