body{
  background-color: green;
}

.thumbnail{
  max-width: 480px;
  max-height: 115px;
}

.short_description{
  max-width: 900px;
  max-height: 115px;
}

.detailimage{
  max-width: 1920px;
  max-height: 460px;
}
