body{
  background-color: green;
}

h1,h2{
  text-align: center;
}
.thumbnail{
  max-width: 480px;
  max-height: 115px;
}

.short_description{
  max-width: 900px;
  max-height: 115px;
}

.resultCanvas{
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width: 1000px;
  max-height: 300px;
}

.detailimage{
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width: 810px;
  max-height: 230px;
}
